
html, body {
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
}

h1 {
  font-size: 4em;
  font-weight: 700;
}

h2 {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: -10px;
  opacity: 0.5;
}

h3 {
  font-weight: 700;
  font-size: 1.7em;
}

h4 {
  font-weight: 300;
}

p {
  font-size: 1.1em;
}

a {
  color: #444444;
  -webkit-transition: 0.2s all;
}

a:hover {
  color: #FFB400;
  -webkit-transition: 0.2s all;
  text-decoration: none;
}


footer {
  padding-top: 30px;
  padding-bottom: 5px;
  font-weight: 500;
  opacity: 0.5;
}

#info {
  padding-top: 23px;
}

.container {
  margin: 10px;
}

@media(max-width: 720px){

  body {
    margin: 0%;
  }

  #info {
  padding-top: 4px;
  float: none;
  }
}

/*---Tablet---*/
@media only screen and (min-width: 720px) {
  body {
    margin: 10%;
  }
}
